[mysql]
default-character-set=utf8

[mysqld]
port=3306

character-set-server=utf8
default-storage-engine=INNODB
lower_case_table_names=1
max_allowed_packet=256M
explicit_defaults_for_timestamp=true
sql_mode=STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION

log-error=mysqld.log

# replication support
server-id=1
log_bin=mysql-bin
relay_log=master-relay-bin
relay_log_index=master-relay-bin.index

innodb_buffer_pool_size=128M

max_connections=500

[mysql.server]
user=mysql

[client]
default-character-set=utf8